/* Reset & global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #f4f6f8, #e0e7ff);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s ease-in-out;
}

.text-center {
  text-align: center;
}
.mt-20 {
  margin-top: 20px;
}
